.icon-sm{
    font-size: 1.5rem;
}

.icon-ssm{
    font-size: 1rem;
}

.icon-lg{
    font-size: 2.5rem;
}

.icon-apple{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

.chat-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #859D6B;
    color: white;
    padding: 0.7rem;
    text-align: center;
    font-weight: bold;
}

.search{
    width: 200px;
    text-align: right;
}

.chat-messages {
    width: 60%;
    margin: 0 auto;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message {
    margin-bottom: 1rem;
    max-width: 70%;
    padding: 0.8rem;
    border-radius: 1rem;
    line-height: 1.4;
    font-size: 1rem;
    word-wrap: break-word;
}

.icon.sent {
    align-self: flex-start;
}

.message.s {
    display: flex;
}

.message.sent {
    align-self: flex-start;
    background-color: #dcf8c6;
    border-top-left-radius: 0;
    margin-left: 4rem;
    padding-bottom: 0;
}

.r {
    display: flex;
    flex-flow: column;
    justify-content: right;
}

.icon.received {
    align-self: flex-end;
}


.message.received {
    align-self: flex-end;
    background-color: #ffffff;
    border-top-right-radius: 0;
    border: 1px solid #e0e0e0;
    margin-right: 4rem;
}

.message.notreceived {
    align-self: flex-end;
    margin-right: 4rem;
}

.message .timestamp {
    font-size: 0.8rem;
    color: #999;
    text-align: right;
    margin-top: 0.5rem;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    width: 100%;
}

.chat-input form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    max-width: 800px;
}

.chat-search {
    display: flex;
}

.chat-input input {
    flex: 1;
    max-width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    outline: none;
    margin-right: 0.5rem;
}

.chat-input button {
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #859D6B;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: none;
}

.chat-input button:hover {
    background-color: #45a049;
}

a.list-group-item-b{
    font-weight: bolder;
    color: #859D6B;
    background-color: #C9E2AC;
    padding : 8px;
}

.list-group-item-b:hover{
    color: #C9E2AC;
    background-color: #859D6B;

}

.list-group-item-b.active{
    color: #C9E2AC;
    background-color: #859D6B;
}

.sort-arrow{
    cursor: pointer;
}

.dataTables_length{
    display: none;
}

#admin-table_info , #admin-table_paginate{
    text-align: center;
}

#admin-table_next{
    margin-left: 5px;
}

#admin-table_next::after{
    content: " >>";
}

#admin-table_previous{
    margin-right: 5px;
}

#admin-table_previous::before{
    content: "<< ";
}

.paginate_button{
    cursor: pointer;
}

a.paginate_button , a.paginate_button.current{
    margin-right: 5px;
}
