main{
    background-image: url(../assets/images/bg-qa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

img{
    height: 60px;
    width: 60px;
}

hr{
    border: 2px solid #859D6B;
}