.licorice-regular {
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
}

main{
  background-image: url(../assets/images/goal-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.goal-area{
  background-color: white;
  border-radius: 10px;
}