.licorice-regular {
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color:#FFFCF7;
}
main{
  background-image: url(../assets/images/goal2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
}

.goal-area{
  background-color: white;
  border-radius: 10px;
}