html, body {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    flex-grow: 1;
}

.nav-link , #navbarDropdown {
    color: #404D34;
    font-weight: bold;
    padding: 0;
}

.logo{
    height: 50px;
    width: auto;
}

.calendar-link{
    display: inline-flex;      
    align-items: center;      
    justify-content: flex-start;
}

.a-img{
    height: 15px;
    width: auto;
    margin-top:2px;
}

.dropdown-a-img{
    height: 12px;
    width: auto;
}

.nav-item{
    font-size: large;
}

.dropdown-menu{
    width: 25%;
    background-color: #C9E2AC;
}

.dropdown-item{
    color: #404D34;
    font-weight: bold;
}

.dropdown-item:hover{
    color:#404D34; 
    background-color: transparent ; 
    text-decoration: none; 
}

.nav-item a:hover {
    color: #404D34 ; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #C9E2AC;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}
@media (min-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #C9E2AC;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        height: 70px;
    }
}
@media (max-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #C9E2AC;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}
