.food-table {
    margin-left: 250px;
        margin-top: 60px;
        padding: 20px;
        background-color: #fffcf7;
        min-height: calc(100vh - 60px);
}

.food-table th {
    background-color: #ffd08e;
    color: black;
    border: 1px solid black;
    vertical-align: middle
}