table{
    width: 100%;
}
.confirmation-table{
    border-radius: 5px;
    border: 1px solid #000;
    overflow: hidden;
}
.confirmation-table th{
    background: #859D6B;
}
.food-confirmation{
    border-bottom:2px solid #000;
}
.food-confirm-btn{
    background-color: #859D6B;
    color:white;
}
.cancel-btn{
    background-color: #BABEBF;
    color:white;
}