.userlist {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    background-color: #fffcf7;
}

.userlist th, .userlist td {
    padding: 10px;
    text-align: center;
}

.userlist th {
    background-color: #c9e2ac;
    color: black;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.userlist td {
    border-bottom: 1px solid black;
}

